root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{json,yml,yaml,csproj,props,targets}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA1305.severity = none
dotnet_diagnostic.CA1310.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA1062.severity = none
